.sidebar-heading {
    text-align: center;
    background-color: #ffffff;
    margin-top: 20px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.sidebar-heading .home-link {
    font-style: italic;
    font-weight: 200;
    font-size: 40px;
    text-decoration: none !important;
    color: #2daee5;
}

.sidebar-heading .home-link:hover {
    color: #199acb;
}

.list-group {
    background-color: #ffffff !important;
}
