.edit-fields {
    display: flex;
    flex-direction: column;
}

.edit-fields form {
    margin: 0 auto;
}

.edit-fields .MuiFormControl-root {
    width: 100%;
}

.edit-fields .MuiFilledInput-root {
    background-color: transparent;
}

.edit-fields input {
    padding: 4px;
}
