button {
    width: 125px;
    height: 45px;
    border: 1px solid #fbfbfd;
    border-radius: .25rem!important;
    background-color: transparent;
    color: #fbfbfd;
    font-size: 20px;
    font-weight: 300;
    transition: 0.3s;
}

button:hover {
    background-color: #fbfbfd;
    color: #2daee5;
    cursor: pointer;
}