.word-set-card {
    width: 320px;
    height: 156px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: .25rem;
}

.add-card .add-icon-wrapper {
    color: #333333;
    display: flex;
    width: 25%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    transition: 0.1s;
}

.add-icon-wrapper:hover {
    cursor: pointer;
}

.add-icon-wrapper i {
    font-size: 25px;
    margin: auto;
}

.add-icon-wrapper p {
    font-size: 20px;
    margin: auto;
}

