.app-row {
    display: flex;
    height: 80vh;
    width: 70vw;
    justify-content: space-between;
    margin: 75px auto auto auto;
}

.app-row div {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 1.5rem;
    border-radius: .25rem;
}

.app-row .left {
    width: 20%;
    background-color: aqua;
}

.app-row .right {
    width: 78%;
    background-color: aqua;
}